# Godot
.godot/
export_credentials.cfg
*.translation
*.backup
addons/

# Личные файлы проекта (идеи, планы, заметки)
.opencode/

# Сборки
.release/
Local_Test/
android/
build/

# OS
Thumbs.db
.DS_Store
